{% extends "FitnessBlog/base.html" %}
{% block content %}
    <h1>Nutritional Advice</h1>
    <br>
    <p class="text-justify">The first step to any weight loss or muscle gain nutritional plan is to find out a persons Basal Metabolic Rate (BMR). Currently the widely known most accurate formula for the this calaculation is by Mifflin-St Jeor: (calories / day) = 10 * weight in kg + 6.25 * height in cm - 5 * age + calories / day, where s is +5 in males and -161 for females.
    Once calculating this, the result will give a person a accurate representation of their personal maintanence calories.
    </p>
    <br>
    <p class="text-justify">Nutrition can be divided into three categories of macronutrients, proteins, carbohydrates and fats. Per gram of protein consuming 4 calories and fats using 9 calories. Protein intake can be calcaulated by taking 1-1.5 per pound of bodyweight, for example, if you weigh 200 pounds, the persons protein consumption should be 200-300g which would be 800-1200 calories. Then for the remainder of calories, 40-60 percent of the maintainence will be for carbohydrates and 10-20 percent for fats.
    However, there are diet methods that may work for people such as keto which is a high fat where they remove carbohydrates. Also, intermittent fasting where they have periods of the day where the person will not eat. Mostly done for 16 hours at a time.
<br>
    <br><p class="text-justify">
Now we've explored that knowledge, theres 3 options to reach a persons desired goals within their activities. Either a person would want to lose weight to lose fat, maintain weight to stay the same or increase weight to improve muscle growth. there are 3500 calories in one pound of bodyweight, when either gaining or losing weight, we recommend that a calorie surplus or deficit should be maximum 1000 per day, resulting in either gaining or losing 2 pounds per week.

    </p>
<br>
      <p class="text-justify">
Below I will suggest example daily meal plans for losing, maintaining and gaining weight as some defer from the standard macronutrient percentages.
    </p><br>
    <br>

    <p class="text-justify font-weight-bold">Maintaining Weight</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
            <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>

        </tr>
        <tr>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
            <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>

        </tr>
        <tr>
         <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
            <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
        </tr>
      <tr>
         <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
            <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
        </tr>
      <tr>
         <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
            <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
        </tr>
        <tr>
         <td></td>
          <td></td>
          <td></td>
          <td></td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td></td>
            <td></td>
          <td></td>
          <td></td>
        </tr>



      </tbody>
    </table>
    <br>
    <p class="text-justify font-weight-bold">Losing Weight</p>

      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
            <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>

        </tr>
        <tr>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
            <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>

        </tr>
        <tr>
         <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
            <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
        </tr>
      <tr>
         <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
            <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
        </tr>
      <tr>
         <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
            <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
        </tr>
        <tr>
         <td></td>
          <td></td>
          <td></td>
          <td></td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td></td>
            <td></td>
          <td></td>
          <td></td>
        </tr>



      </tbody>
    </table>
    <br>
    <p class="text-justify font-weight-bold">Gaining Weight</p>



      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
            <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>
          <td>Porridge, protein shake and banana</td>

        </tr>
        <tr>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
            <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>
          <td>Meats, rice, vedgetables</td>

        </tr>
        <tr>
         <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
            <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
          <td>Avacado or almonds snack</td>
        </tr>
      <tr>
         <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
            <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
          <td>Meats and vedgetables</td>
        </tr>
      <tr>
         <td>Greek yogurt and peanut butter</td>
          <td>Greek yogurt and peanut butter</td>
          <td>Greek yogurt and peanut butter</td>
          <td>Greek yogurt and peanut butter</td>
            <td>Greek yogurt and peanut butter</td>
          <td>Greek yogurt and peanut butter</td>
          <td>Greek yogurt and peanut butter</td>
        </tr>
        <tr>
         <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
            <td>Protein shake</td>
          <td>Protein shake</td>
          <td>Protein shake</td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td></td>
            <td></td>
          <td></td>
          <td></td>
        </tr>


      </tbody>
    </table>

{% endblock content %}