{% extends "FitnessBlog/base.html" %}
{% block content %}
    <h1>Routine Advice</h1>
    <br>
    <p class="text-justify">Usually routines are split up between a strength type and a hypertrophy type.
        Most people will benefit by incorperating both types into their routines, the only time the strength type should solely be used is if the person wants to minimise weight gain. For example, if a sport involves bodyweight to strength ratio such as cycling and running.</p><br>

    <p class="text-justify">As we are natural lifters, it has been proven that working each muscle group 2-4 times per week is optimal for the best results. Also, a variety of cardio should be in all routines due to the health benefits and overall fitness outcomes. The hypertrophy part of the routine will consist of 30-90 second rest times proven to be optimal for muscle growth. Whereas, the strength part of the routine promotes rest times of 1-3+ minutes for the best results.</p><br>

     <p class="text-justify">Below, three different professionally built routines will be presented, each requiring a specific amount of time, from the lowest to highest</p><br>

    <br>
    <p class="text-justify font-weight-bold">5-7 hours per week</p>

      <table class="table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bench Press</td>
          <td></td>
          <td></td>
          <td>Bench Press</td>
            <td>Cardio</td>
          <td></td>
          <td>Cardio</td>

        </tr>
        <tr>
          <td>Deadlifts</td>
          <td></td>
          <td></td>
          <td>Dumbell flies</td>
            <td></td>
          <td></td>
          <td></td>

        </tr>
        <tr>
         <td>Shoulder Press</td>
          <td></td>
          <td></td>
          <td>Barbell rows</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td>Squats</td>
          <td></td>
          <td></td>
          <td>Pullups</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Shoulder Press</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Lateral Raises</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Squats</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Hip thrusts</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Cardio</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
    <br>
    <p class="text-justify font-weight-bold">8-11 hours per week</p>

      <table class="table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bench Press</td>
          <td>Cardio</td>
          <td></td>
          <td>Bench Press</td>
            <td>Cardio</td>
          <td></td>
          <td>Cardio</td>

        </tr>
        <tr>
          <td>Deadlifts</td>
          <td>Yoga</td>
          <td></td>
          <td>Dumbell flies</td>
            <td>Yoga</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
         <td>Shoulder Press</td>
          <td></td>
          <td></td>
          <td>Barbell rows</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td>Squats</td>
          <td></td>
          <td></td>
          <td>Pullups</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Shoulder Press</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Lateral Raises</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Squats</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Hip thrusts</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Cardio</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <br>
    <p class="text-justify font-weight-bold">12+ hours per week</p>



      <table class="table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bench Press</td>
          <td>Cardio</td>
          <td></td>
          <td>Bench Press</td>
            <td>Cardio</td>
          <td></td>
          <td>Cardio</td>

        </tr>
        <tr>
          <td>Deadlifts</td>
          <td>Yoga</td>
          <td></td>
          <td>Dumbell flies</td>
            <td>Yoga</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
         <td>Shoulder Press</td>
          <td></td>
          <td></td>
          <td>Barbell rows</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td>Squats</td>
          <td></td>
          <td></td>
          <td>Pullups</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td>Cardio</td>
          <td></td>
          <td></td>
          <td>Shoulder Press</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Lateral Raises</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Squats</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Hip thrusts</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Cardio</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

{% endblock content %}