{% extends "FitnessBlog/base.html" %}
{% block content %}
    <h1>Personal Routine</h1>
    <br>

    <table class="table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bench Press</td>
          <td>Cycle</td>
          <td></td>
          <td>Bench Press</td>
            <td>Cycle</td>
          <td></td>
          <td>Cycle</td>

        </tr>
        <tr>
          <td>Deadlifts</td>
          <td>Yoga</td>
          <td></td>
          <td>Dumbell flies</td>
            <td>Yoga</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
         <td>Shoulder Press</td>
          <td></td>
          <td></td>
          <td>Barbell rows</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td>Squats</td>
          <td></td>
          <td></td>
          <td>Pullups</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Shoulder Press</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Lateral Raises</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Squats</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Hip thrusts</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      <tr>
         <td></td>
          <td></td>
          <td></td>
          <td>Cycle</td>
            <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>


{% endblock content %}